
body {
    background-color: #FF4330;
}

h1 {
    font-family: 'Instrument Sans';
    font-weight: 700;
    color: #CFF0D1 !important;
}

h3, a {
    font-family: 'Instrument Sans';
    font-weight: 500;
    color: #CFF0D1 !important;
}


.instrument-font {
    font-family: 'Instrument Sans';
    color: #CFF0D1 !important;
}