
body {
    background-color: #FF4330;
}

h1 {
    font-family: 'Instrument Sans';
    color: #CFF0D1 !important;
}

.instrument-font {
    font-family: 'Instrument Sans';
    color: #CFF0D1 !important;
}